@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: yellow;
  overflow-x: hidden;
  font-family: "Share Tech", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

#main-nav {
  text-align: center;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
}

#main-nav li {
  margin-bottom: 0.5rem;
  font-size: 25px;
  list-style: none;
}

#main-nav a {
  text-decoration: none;
  color: white;
  transition: color, background-color, 0.5s ease-in-out;
}

#main-nav a:hover {
  color: #000;
  background-color: grey;
}

figure {
  margin-top: 30px;
}

figure img {
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: grey;
  background-color: black;
  margin: auto 0;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#content {
  margin: 0 auto;
  padding: 0 1rem;
  display: block;
}

#discography {
  margin-top: 30px;
}

h3 {
  font-size: 20px;
  color: blue;
}

p {
  line-height: 24px;
  font-size: 18px;
}

#album img {
  padding: 1.5rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery img {
  padding: 1rem 0;
  transition: all 0.4s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
  transition: 1s;
}

#footer {
  text-align: center;
  background-color: black;
  margin-top: 20px;
}

#footer a {
  text-decoration: none;
  font-size: 25px;
  color: red;
}

@media screen and (min-width: 768px) {
  #main-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-img {
    margin: 0 auto;
  }

  h1 {
    font-size: 3.5rem;
  }
  figure img {
    float: left;
    width: 50%;
  }
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery img {
    margin: 1rem;
  }
  #album {
    display: flex;
    justify-content: center;
  }
  #album img {
    width: 25%;
  }
}
