html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: yellow;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

#mainnav {
  text-align: center;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#mainnav li {
  margin-bottom: 0.5rem;
  font-size: 25px;
  list-style: none;
}

#mainnav a {
  text-decoration: none;
  color: white;
  transition: color, background-color, 0.5s ease-in-out;
}

#mainnav a:hover {
  color: #000;
  background-color: grey;
}

figure {
  margin-top: 30px;
}

figure img {
  padding: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: grey;
  background-color: black;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#content {
  margin: 0 auto;
  padding: 0 1rem;
}

#discography {
  margin-top: 30px;
}

h3 {
  font-size: 20px;
  color: blue;
}

a {
  text-decoration: none;
  color: red;
}

p {
  line-height: 24px;
  font-size: 18px;
}

#album img {
  padding: 1.5rem;
}

.gallery {
  margin: 0 auto;
}

.gallery img {
  padding: 1rem;
  transition: all 0.4s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
  transition: 1s;
}

#footer {
  text-align: center;
  background-color: black;
  margin-top: 20px;
}

#footer a {
  text-decoration: none;
  font-size: 25px;
  color: red;
}

/* @media only screen and (max-device-width: 700px) {
  .float {
    width: 120%;
    float: left;
    margin-left: 40px;
    margin-bottom: 30px;
  }
  #album img {
    width: 100%;
    margin-left: 10px;
    float: left;
  }
  figure img {
    padding: 10px;
  }
  figure {
    width: 140%;
    margin-left: -50px;
  }
  .gallery {
    margin-left: 40px;
    width: 140%;
  }
  .gallery img {
    width: 100%;
  }
  #mainnav {
    text-align: left;
    background-color: grey;
    display: flex;
    flex-direction: column;
  }
  #content {
    width: 120%;
  }
  #header {
    width: 180%;
  }
  #footer {
    width: 180%;
  }
} */
